// Fonts
@font-face {
    font-family: Sher;
    src: url("Fonts/NeueMachina-Regular_DQCmjH1st.ttf");
  }
  
  @font-face {
    font-family: juana;
    src: url("Fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
  }

  @font-face {
    font-family: Helvet-EB;
    src: url("Fonts/HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
  }
  

  @font-face {
    font-family: Helvet-R;
    src: url("Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
  }

  @font-face {
    font-family: Helvet-M;
    src: url("Fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
  }


  @font-face {
    font-family: Helvet-L;
    src: url("Fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


html,body{
    width: 100%;
    background-color:rgb(0, 0,0);
}
 

#main{
  
}


  // NAV BAR
  #nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    
    width: 100%;
    max-height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    img {
      width: 5em;
      margin: 20px 10px;
    }
    
    h3 {
      color: #f2f2f2;
      font-size: 1em;
      font-family: sher;
      font-weight: 100;
    }
  
    button {
      height: 2.5em;
      background-color: #24cfa6;
      color: white;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0em 2em;
      border: none;
      border-radius: 0.3em;
      cursor: pointer;
    }
  
    #logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

      // TABS AREA
    #tabs {
      display: flex;
      align-items: center;
      gap: 5rem;
      font-family: Helvet-L; 
      
      .heading {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1em;
        text-decoration: none;
      }   
      
  }

    @media(max-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 3em 1.5em;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
  
    width: 100%;
    max-height: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    img {
      width: 3em;
      // background-color: #fff;
    }
    
    h3 {
      color: #f2f2f2;
      font-size: 0.7em;
      font-family: sher;
      font-weight: 100;
    }
    
    button {
      height: 2.5em;
      background-color: #24cfa6;
      color: white;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0em 1em;
      border: none;
      border-radius: 0.3em;
      cursor: pointer;
    }
    
    #logo {
      display: flex;
      align-items: center;
    }

    // TABS AREA
    #tabs {
      display: flex;
      justify-content: center;

      
      .heading {
        display: none;
      }   

  }

    
  }
}
  


#center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h1{
    font-size: 5rem;
    font-family: Helvet-L;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
  }


  .inbox{
    width: 20rem;

    position: relative;
    font-size: 0.8rem;
    font-family: Helvet-L;
    font-weight: 500;

    input{
      width: 100%;
      font-size: 1rem;
      color: #000000;
      background-color: #ffffff;
      padding: 0.5rem;
      border: 1px solid #24cfa6;
      border-radius: 0.3rem;
      outline: none ;
      
    }
    
    label{
      color: rgba(60, 57, 57, 0.278);
      
      position: absolute;
      left: 0.5rem;
      top: 30%;
      pointer-events: none;
      transition: 0.4s ease;
    }
    

    input:focus + label,
    input:valid + label{
      // position: absolute;
      top: -40%;
      color: #000000;
      background-color: rgb(17, 203, 126);
      border-radius: 0.9rem;
      padding: 0.2rem 0.9rem;
    }
    
    input:focus{
      box-shadow: 0 0 8px rgb(2, 255, 133);

    }
  }

  button{
    padding: 0.4rem 0;
    background-color: #24cfa6;
    color: #f2f2f2;
    // border: 0.01rem solid #f2f2f2;
    border-radius: 0.4rem;
    outline: none;
  }

  button:hover{
    scale: 0.99;
    // box-shadow: 0 0 5px rgb(0, 255, 4);
  }
  

}