*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: rgb(168, 248, 215);
}

#main{
    width: 100px;
    height: 100px;
    background-color: #ab1111;
}
