*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: linear-gradient(#c200e9 , #0905de);
    padding: 10px;
}



h1{
    color: rgb(0, 25, 186);
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;

}

h2{
    color: yellow;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}


p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#nav{
    display: flex;
    justify-content:space-between;
    gap: 30px;
    margin-top: 15px;
}

#tabs{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 15px;
}

.heading{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}