// Fonts
@font-face {
    font-family: Sher;
    src: url("./NeueMachina-Regular_DQCmjH1st.ttf");
  }
  
  @font-face {
    font-family: juana;
    src: url("./Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
  }

  @font-face {
    font-family: Helvet-EB;
    src: url("./HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
  }
  

  @font-face {
    font-family: Helvet-R;
    src: url("./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
  }

  @font-face {
    font-family: Helvet-M;
    src: url("./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
  }


  @font-face {
    font-family: Helvet-L;
    src: url("./HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
  }
  // GLOBAL RESET
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg width='1512' height='6397' viewBox='0 0 1512 6397' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_243_2)'%3E%3Crect width='1512' height='6397' fill='%230c0c0c' /%3E%3Cg opacity='0.4' filter='url(%23filter0_f_243_2)'%3E%3Cpath d='M387.38 137.553C355.297 -107.774 513.625 -371.892 752.935 -403.188C992.246 -434.485 1087.35 -273.117 1119.44 -27.7906C1151.52 217.536 993.208 -36.6224 796.88 -10.947C557.569 20.3495 419.463 382.88 387.38 137.553Z' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_243_2)'%3E%3Ccircle cx='15' cy='3176' r='185' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter2_f_243_2)'%3E%3Ccircle cx='1275' cy='840' r='64' fill='%2324cfa7' /%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_243_2' x='239.258' y='-551.062' width='1028.33' height='917.31' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='72' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter1_f_243_2' x='-774' y='2387' width='1578' height='1578' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='302' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter2_f_243_2' x='967' y='532' width='616' height='616' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='122' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3CclipPath id='clip0_243_2'%3E%3Crect width='1512' height='6397' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 100dvw;
  }
  
  // MAIN AREA
  #main {
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #view1 {
    height: 100vh;

  }
  
  
  // NAV BAR
  #nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    
    width: 100%;
    max-height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    img {
      width: 5em;
      margin: 20px 10px;
    }
    
    h3 {
      color: #f2f2f2;
      font-size: 1em;
      font-family: sher;
      font-weight: 100;
    }
  
    button {
      height: 2.5em;
      background-color: #24cfa6;
      color: white;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0em 2em;
      border: none;
      border-radius: 0.3em;
      cursor: pointer;
    }
  
    #logo {
      display: flex;
      align-items: center;
      gap: 10px;
    }

      // TABS AREA
    #tabs {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7em;
      
      
      
      .heading {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1em;
        text-decoration: none;
      }   
      
  }

    @media(max-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 3em 1.5em;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
  
    width: 100%;
    max-height: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    img {
      width: 3em;
      // background-color: #fff;
    }
    
    h3 {
      color: #f2f2f2;
      font-size: 0.7em;
      font-family: sher;
      font-weight: 100;
    }
    
    button {
      height: 2.5em;
      background-color: #24cfa6;
      color: white;
      font-size: 0.8em;
      font-weight: 400;
      padding: 0em 1em;
      border: none;
      border-radius: 0.3em;
      cursor: pointer;
    }
    
    #logo {
      display: flex;
      align-items: center;
    }

    // TABS AREA
    #tabs {
      display: flex;
      justify-content: center;

      
      .heading {
        display: none;
      }   

  }

    
  }
}
  
// CENTER CONTENT
#center {
    height:auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    margin-top: 20%;
    margin-bottom: 80%;

    h5 {
      color: white;
      font-size: 5.7em;
      text-align: center;
      font-family: Sher;
      font-weight: 100 !important;
      padding: 10px;
      line-height: 0.845em;
    }
    
    .htxt {
      color: #24cfa6;
    }
    
    .htxt2{
      font-family: juana;
    }
    
    .btncourse {
      background-color: #24cfa6;
      color: rgb(0, 0, 0);
      font-size: 1.8em;
      padding: 0.5em 1em;
      border: none;
      border-radius: 0.5em;
      cursor: pointer;
      align-self: center;
      margin-top: 20px;
    }

    .tags{
      margin-top: 2em;
      h1{
          color: #ffffff;
          font-size: 1em;
          text-align: center;
        }
    }

  
  
  @media(max-width: 768px) {
      height:auto;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin-top: 50%;
      margin-bottom: 80%;

    h5 {
        font-size: 2.5em;
        text-align: center;
        font-family: Sher;
        font-weight: 100 !important;
        padding: 10px;
        line-height: 0.845em;
      }

      .btncourse {
        background-color: #24cfa6;
        color: rgb(0, 0, 0);
        font-size: 1em;
        font-weight: 500;
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
        align-self: center;
        margin-top: 0.8em;
      }
    }

  }
  
.video-container {
  position: relative;
  width: 55%;
  max-width: 70vw;
  min-width: 20vw;
  aspect-ratio: 16 / 9;
  margin: auto;
  margin-bottom: 10rem;
  border-radius: 2rem;
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }

    @media(max-width: 768px) {
        position: relative;
        width: 90%;
        max-width: 70vw;
        min-width: 20vw;
        aspect-ratio: 16 / 9;
        margin: auto;
        margin-bottom: 10rem;
      
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;
      }

    }

}
 
#view2{
  width: 108rem;
  max-width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 

  // background-color: #fff;
  gap: 1rem;
  // position:relative;
  // left: 50%;
  // top: 50%;
  // transform:translate(-50%,-50%);

  .card{
    background-color: #000000;
    width: 24em;
    max-width: 30em;
    min-width: 16em;
    height: 30em;
    max-height: 28em;
    border-radius: 0.4em;
    margin-top: 2em;
     
    .up{
      width: 100%;
      height: 25em;
      background-color: #171717;
      font-size: 1em;
      border-radius: 0.4em;
      overflow: hidden;

      img{
        width: 100%;
        position: relative;
      }
    }

    h1{
      font-size: 1em;
      font-family: Helvet-L;
      font-weight: 200;
      color: #ffffff;
      padding: 0em  1em;
      line-height: 2em;
    }

    button{
      width: 100%;
      background-color:#24cfa6;
      border: none;
      border-radius: 0.3em;
      font-size: 1.5em;
      font-family: Helvet-M;
      padding: 0.4em 0.2em;
      margin-top: 1em;
    }

    
  }
  
  @media(max-width: 768px){
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    
  }

}